.genericBody{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 45px;
  height: 100vh;
}
.nav1{
  background-color: #00857B;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
.nav2{
  background-color: #00B1A4;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
span{
display: inline-block;
margin-left: 20px;
margin-top: 10px;
  color: #fff;
}
.controlTask{
  display: grid;
  grid-template-rows: 85% 15%;
  margin-top: 3px;
  padding-top: 2em;
  border-right: 1px solid rgba(0, 0,0,0.1);

}

.addTask{
  border-bottom: 1px solid #49ADAD;
  margin-left: 1em;
  margin-right: 2em;
  padding-bottom: 1em;
}
.addBtn{
  border: none;
  height: 20px;
  background-color: #fff;
  font-size: 25px;
  color: #49ADAD;
  animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0% {color: #49ADAD;}
    25% {color: #FC6076;}
    50% {color: #49ADAD;}
}
input{
  height: 20px;
  border: none;
  -webkit-appearance: none;

}
.chooseOpt{
  border: none;
  height: 20px;
  color: #49ADAD;
}
select:focus{
  outline: none;
}
option:focus{
  outline: none;
}
.taskList{

}
.list{
  display: grid;
  grid-template-columns: 5% 65% 30%;
  margin-left: 2em;
  font-size: 12px;
}
.btnGroups{
margin-left: auto;
margin-right: auto;
}
.startBtn{
border: none;
background-color: #00C06E;
width: 100px;
height:35px;
border-radius: 30px;
color: #fff;
margin-right: 10px;
}
.stopBtn{
border: none;
background-color: #FC6076;
width: 100px;
height:35px;
border-radius: 30px;
color: #fff;
}
button:focus{
outline: none;
}
.timeChild{
  margin: auto;
}

.clock{
font-size: 120px;
}
.task{
color: #585858;
padding-left: 5px;
border-left: 4px solid #0F99CD;
margin-left: 5em;
}
.finish{
margin-top: 30px;
border: none;
background-color: #0F99CD;
width: 100px;
height:35px;
border-radius: 30px;
color: #fff;
margin-left: 7em;
}
ul{
  list-style-type: none;
  padding-inline-start:0px;
}
li{
  margin-top: 0.5em;
}
